@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
$color-base: #92a4ad;
$color-primary: white;
$color-secondary: pink;
$color-bg: #606c88;
$color-orient: #212529;
$color-green: #0f9b0f;

$color-white: lighten(#ddd, 100%);
$color-gray-lighter: #ddd;
$color-gray: darken(#ddd, 25%);
$color-gray-darker: darken(#ddd, 50%);

$typographic-font-family-montserrat: 'Montserrat', Helvetica, sans-serif;
$typographic-font-family-barlow: 'Barlow', sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
