@import 'variables';

.vote {
  span {
    margin: 0 0.3rem;
  }
}

.lead {
  font: 300 21px/1.4 Georgia, serif;
  margin-bottom: 20px;
}

.signup,
.login,
.new_link {
  .h-title {
    text-align: center;
  }
  input,
  button {
    margin-top: 0.6rem;
  }
}

li.link {
  list-style: none;
  border-bottom: 1px solid $color-gray;
  padding: 1rem;
  margin: 1rem 0;
  .h-title {
    color: $color-primary;
    a:hover {
      text-decoration: dotted underline;
    }
  }
  .buttons {
    margin: 1rem 0;
  }
}

.comments {
  margin: 2rem 0;
}

.comment {
  border-bottom: 1px dotted $color-gray;
  padding: 1rem 0;
}

.sample-account {
  border: 1px solid $color-gray;
  padding: 0.3rem 1.25rem 0.3rem 1.25rem;
  border-radius: 0.3rem;
  display: inline-block;
  margin: 0.3rem 0;
}
