@import 'variables';

.vote {
  span {
    margin: 0 0.3rem;
  }
}

.lead {
  font: 300 21px/1.4 Georgia, serif;
  margin-bottom: 20px;
}

.post {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #0f9b0f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--dark-color),
    $color-bg
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--dark-color),
    $color-bg
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .votings {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    background: #0f9b0f; /* fallback for old browsers */
    a {
      padding: 1.5rem 1rem;
      width: 3.5rem;
      height: 50%;
      text-align: left;
      color: white;
      background: #000000; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #0f9b0f,
        var(--dark-color)
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #0f9b0f,
        var(--dark-color)
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }
  .votings + div {
    padding-left: 4rem !important;
  }
  .control-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.signup,
.login,
.new_link {
  .h-title {
    text-align: center;
  }
  input,
  button {
    margin-top: 0.6rem;
  }
}

li.link {
  list-style: none;
  border-bottom: 1px solid $color-gray;
  padding: 1rem;
  margin: 1rem 0;
  .h-title {
    color: $color-primary;
    a:hover {
      text-decoration: dotted underline;
    }
  }
  .buttons {
    margin: 1rem 0;
  }
}

.comments {
  margin: 2rem 0;
}

.comment {
  border-bottom: 1px dotted $color-gray;
  padding: 1rem 0;
}

.sample-account {
  border: 1px solid $color-gray;
  padding: 0.3rem 1.25rem 0.3rem 1.25rem;
  border-radius: 0.3rem;
  display: inline-block;
  margin: 0.3rem 0;
}

.loading {
  text-align: center;
  margin-top: 20%;
}
