@import 'variables';

.navbar {
  min-height: 56px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav .nav-link {
  padding-left: .3rem;
  padding-right: .3rem;
  color: $color-white;
  vertical-align: middle;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 .3rem;
  &:hover {
    background-color: $color-gray-darker;
    text-decoration: none;
  }
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: $color-gray-lighter;
}

.collapsing,
.show {
  display: flex;
}

.navbar + * {
  padding-top: 56px;
}

.vote {
  span {
    margin: 0 .3rem;
  }
}

.lead {
  font: 300 21px/1.4 Georgia, serif;
  margin-bottom: 20px;
}

.error_message {
}

.signup,
.login,
.new_link {
  .h-title {
    text-align: center;
  }
  input,
  button {
    margin-top: .6rem;
  }
}

li.link {
  list-style: none;
  border-bottom: 1px solid $color-gray;
  padding: 1rem;
  margin: 1rem 0;
  .h-title {
    color: $color-primary;
    a:hover {
      text-decoration: dotted underline;
    }
  }
  .buttons {
    margin: 1rem 0;
  }
}

.comments {
  margin: 2rem 0;
}

.comment {
  border-bottom: 1px dotted $color-gray;
  padding: 1rem 0;
}

.sample-account {
  border: 1px solid $color-gray;
  padding: .3rem 1.25rem .3rem 1.25rem;
  border-radius: .3rem;
  display: inline-block;
  margin: 0.3rem 0;
}
