@import 'variables';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: #606c88; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #3f4c6b,
    #606c88
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3f4c6b,
    #606c88
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,
body,
button,
input,
select,
textarea {
  font-family: $typographic-font-family;
  color: $color-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

a:not(.nav-link) {
  &,
  &:hover {
    color: $color-primary;
  }
}

a:not([href]).btn-primary {
  &,
  &:hover {
    color: white;
  }
}

a.btn-base {
  color: $color-gray-darker;
  &:hover {
    color: $color-orient;
  }
}

.btn-base {
  background-color: $color-base;
  color: $color-gray-darker;
  border-radius: 0;
}

.btn {
  border: 1px solid $color-bg;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

ul {
  margin: 0;
  list-style: none;
}

.collapsing,
.show {
  display: flex;
}

.container {
  padding-top: 5rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: 1px solid var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.white-space-pre {
  white-space: pre;
}

.sample-account {
  border: 1px solid #ccc;
  padding: 0.3rem 1.25rem 0.3rem 0;
  border-radius: 0.3rem;
  outline: none;
  display: inline-block;
  margin: 0.3rem 0;
}
