@import 'variables';

.navbar {
  min-height: 56px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav .nav-link {
  padding-left: .3rem;
  padding-right: .3rem;
  color: $color-white;
  vertical-align: middle;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 .3rem;
  &:hover {
    background-color: $color-gray;
    text-decoration: none;
  }
}

.collapsing,
.show {
  display: flex;
}

.navbar + * {
  padding-top: 56px;
}

.vote {
  span {
    margin: 0 .3rem;
  }
}

.lead {
  font: 300 21px/1.4 Georgia, serif;
  margin-bottom: 20px;
}

.error_message {
}

.signup,
.login {
  .h-title {
    text-align: center;
  }
  input,
  button {
    margin-top: .6rem;
  }
}
