@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: #606c88;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html, body, button, input, select, textarea {
  font-family: $typographic-font-family;
  color: $color-base;
}

a:not(.nav-link) {
  &,
  &:hover {
    color: $color-primary;
  }
}

a:not([href]).btn-primary {
  &,
  &:hover {
    color: white;
  }
}

a.btn-base {
  color: $color-gray;
  &:hover {
    color: $color-orient;
  }
}

ul.list-style-none {
  padding-left: 0;
  li {
    list-style: none;
  }
}

.btn-base {
  background-color: $color-base;
  color: $color-gray;
  border-radius: 0;
}

.btn {
  border: 1px solid $color-bg;
}
